.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

body.swal2-toast-shown .swal2-container.swal2-top-end, body.swal2-toast-shown .swal2-container.swal2-top-right {
    z-index: 9999!important;
}

#float-btn-wa {
    position: fixed;
    bottom: 55px;
    right: 30px;
    width: 50px;
    margin-right: 4%;
    height:  50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 100%;
    background-color: rgb(13, 193, 67);
    transition: all 0.25s ease;
    z-index: 999;
    cursor: pointer;
  }

  #float-btn-wa i {
    font-size: 2em;
    color: var(--color-heading);
    color: white!important;
  }

  #float-btn-wa:hover, #float-btn-wa:focus {
    background-color: var(--color-1st);
  }

  @media screen and (max-width: 1024px) {
    #float-btn-wa {
        bottom: 70px;
        right: 0px;
        width: 50px;
    }
  }
